*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

/* Body */
body {
    background-color: #222;
    background-size: cover;
    scroll-behavior: smooth;
}

/* Container */
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
/* canvas#background */
canvas#background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
section {
    padding: 100px;
}

nav {
    ul {
        li {
            a {
                transition: all 0.42s ease-in-out;
            }
            a:hover {
                color: rgba(2, 6, 252, 0.685);
                transform: translateY(-5px);
            }
        }
    }
}

.header__button {
    a{
        transition: all 0.42s ease-in-out;
    }
    a:hover {
        background: #ffffff;
        color: rgba(2, 6, 252, 0.685);
    }
}
.home__button {
    a{
        transition: all 0.42s ease-in-out;
    }
    a:hover {
        background: #ffffff;
        color: rgba(2, 6, 252, 0.685);
    }
}
